.bg-green {
    background: green;
}

.bg-default {
    background-color: rgb(221,75,57);
}

.bg-gray {
    background-color: gray;
}

.color-green {
    color: green;
}

.color-white {
    color: white;
}

.color-orangered {
    color: orangered;
}

.bd-rad-3 {
    border-radius: 3px;
}

.pad-3 {
    padding: 3px;
}

.pad-left-3 {
    padding-left: 3px;
}

.pad-right-3 {
    padding-right: 3px;
}

.pad-6 {
    padding: 6px;
}

.pad-left-6 {
    padding-left: 6px;
}

.pad-right-6 {
    padding-right: 6px;
}

.pad-12 {
    padding: 12px;
}

.pad-left-12 {
    padding-left: 12px;    
}

.pad-right-12 {
    padding-right: 12px;    
}

.folder::before {
    content: "\f07b"
}