@media(max-width: 500px) {
    .inputBox input {
        font-size: 16px;
    }

    .urlArea button {
        font-size: 16px;
    }

    .inputBox {
        height: 36px;
    }

    .method a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .methodCnt {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .historyCnt > div:nth-child(2) {
        width: 100%;
    }

    button {
        padding: 3px 4px; 
    }

    .btn-group button:nth-child(2) {
        padding-right: 6px;
    }

    .btn-group button:nth-child(1) {
        padding-left: 6px;
    }

    .method {
        box-sizing: border-box;
    }

    .method a {
        box-sizing: border-box;
        padding: 3px;
    }
}

@media (max-width: 800px) {
    .container {
        flex-direction: column-reverse;
    }

    .horiDivider {
        display: none;
    }

    header {
        flex-direction: column;
    }

    nav ul li {
        flex-grow: 1;
    }

    .mhistoryCnt {
        position: fixed;
        bottom: -45%;
        z-index: 1000;
        width: 96%;
        top: 0; 
        background: white;
        border-top: 1px solid;
        box-sizing: border-box;
    }

    .mClose {
        display: none;
    }

    .historyCntTop {
        display: block;
    }

    .mobileSideBar {
        display: inline;
        padding: 0.7em 0.4em;
        text-align: center;        
    }

    .headerTitle {
        display: flex;
        width: 100%;
    }

    header h2 {
        padding: 0.2em;
    }

    .tabul {
        overflow-x: scroll;
        flex-wrap: unset;
    }

}

@media(max-width: 500px) {
    .container {
        width:100%;
    }
    .wrapper {
        width: 100%;
    }
    body {
        width: inherit;
    }            
}
