.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-backdrop {
    background: rgba(0, 0, 0, 0.39);
    /* position: relative; */
    width: 100%;
    height: 100%;
    z-index: 1001;
}

.modal-body {
    /* display: block; */
    background: white;
    width: 500px;
    top: 4px; /* 4px; */
    z-index: 1002;
    position: absolute;

    padding: 6px;
    border-radius: 3px;
    padding: unset;

    /*left: 50%;
    transform: translate(-50%, -50%); */
}

.modal-width-800 {
    width: 800px;
}

@media(max-width: 800px) {
    .modal-body {
        width: 98%;
    }    
    
    .modal-width-800 {
        width: 98%;
    }
}

@media(max-width: 500px) {
    .modal-body {
        width: 98%;
    }    
    
    .modal-width-800 {
        width: 98%;
    }
}

.modal input {
    /* width: 100%; */
    border-radius: 6px;
    font-size: 16px;
    padding: 6px;
}

.modal-input-block {
    width: 100%;    
}

.modal-footer {
    margin: 4px 0;
    box-sizing: border-box;
    display: flex;
    padding: 0.3em 0;
    padding-top: 0.9em;
    justify-content: flex-end;
    padding-right: 6px;
    border: 1px solid  rgb(221, 221, 221);
}

.modal-head {
    background: rgb(221,75,57);
    color: white;
    padding: 0.6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-inner-body {
    padding: 6px;    
}