.notif {
    padding: 15px;    
    border-radius: 3px;
    color: white;
    border: 1px solid gray;
    transition: display 1s ease 1s;
}

.notif-success {
    border-color: rgb(0, 128, 0);
    background-color: green;
}

.notif-info {
    background-color: rgb(0, 192, 239);    
    border-color: rgb(0, 172, 214);
}

.notif-danger {
    border-color: rgb(221, 75, 57);;
    background: red;
}
.notif-bubble {
    z-index: 4000;
    position: fixed;
    top: 0;
    left: 50%;
    width: auto;
}