.resultAddTeamHead {
    border-bottom: 1px solid rgb(221, 221, 221);
}

a {
    display: block;
}

.resultAddTeamItem {
    padding: 7px;
    box-sizing: border-box;
    background: rgb(221, 221, 221);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px;
    border-radius: 3px;
}

.resultAddTeamItem a {
    color: white;
    background: rgb(221,75,57);
    padding: 4px;
    border-radius: 3px;
    white-space: nowrap;
    position: relative;
}